doctype html
html
  head
    title Repository Famous Users
    style
      include style.css
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
  body
    h2 There are #{users.length} users, sorted by followers desc
    table.table.table-bordered
      thead.thead-light
        tr
          //th ID
          th Avatar
          th Username
          //th Bio
          th Location
          th Company
          th Website
          th Followers
          th Repos
      tbody
        each user in users
          tr
            //td=user.id
            td
              img(src=user.avatar width=40)
            td
              a(target="_blank" href="https://www.github.com/" + user.username)=user.username
            //td=user.bio
            td=user.location
            td
              a(target="_blank" href="https://www.github.com/" + user.company)=user.company
            td
              a(target="_blank" href=user.website) #{user.website}
            td=user.followers
            td=user.repos
            
          